body {
	background: gray;
	position: fixed;
	width: 100%;
}

.container {
	margin-left: 150px;
	margin-right: 150px;
}

#header {
	background: #eee;
	position: relative;
	padding: 40px;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;
	font-family: verdana;
	color: gray;
	font-weight: bold;
}

#nav {
	background: #eee;
	position: relative;
	padding: 40px;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;
	font-family: verdana;
	color: gray;
	font-weight: bold;
}

#section {
	background: #eee;
	float: left;
	position: relative;
	padding-top:40px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-top: 10px;
	width: 50%;
	height: 190px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: gray;
}

#aside {
	background: #eee;
	position: relative;
	float: left;
	padding: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	width: 37.7%;
	height: 180px;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: gray;
}

#article {
	background: gray;
	position: relative;
	padding-top: 25px;
	padding-bottom: 60px;
	width:95%;
	height: 90px;
	left: 10px;
	overflow: visible;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: #fff;
}

#h {
	background: #eee;
	position: relative;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	width: 90%;
	height: 10px;
	left: 10px;
	overflow: visible;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: gray;
}

#p {
	background: #eee;
	position: relative;
	padding: 10px;
	padding-bottom: 20px;
	width: 90%;
	height: 10px;
	left: 10px;
	bottom: 10px;
	overflow: visible;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: gray;
}

#footer {
	background: #eee;
	position: relative;
	clear: both;
	padding: 40px;
	margin-top: 20px;
	height: 30%;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	color: gray;
}